   * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            color: #333;
        }

        header {
            background: #2c3e50;
            color: white;
            text-align: center;
            padding: 2rem;
        }

        nav {
            background: #34495e;
            display: flex;
            justify-content: center;
        }

        nav a {
            color: white;
            text-decoration: none;
            padding: 1rem;
            transition: transform 0.5 ease;
        }

        nav a:hover {
            background:#2c3e50;
            transform: scale(1.05);
            border-radius: 10px;
        }

        /* About section */
        .about {
            display: flex;
            align-items: center;
            padding: 2rem;
            gap: 2rem;
            background: white;
            margin: 2rem auto;
            max-width: 1000px;
            border-radius: 10px;
            transition: transform 0.2s ease;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }
        .about:hover{
            transform: scale(1.05);
        }

        .about img {
            max-width: 200px;
            border-radius: 10px;
        }

        /* Projects section */
        .projects {
            padding: 2rem;
            max-width: 1200px;
            margin: auto;
        }

        .projects h2 {
            text-align: center;
            margin-bottom: 1rem;
        }

        .project-list {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: center;
        }

        .project-card {
            background: white;
            font-weight: bold;
            flex: 1 1 250px;
            max-width: 300px;
            padding: 1rem;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            text-align: center;
            transition: transform 0.2s ease;
        }

        /* Contact section */
        .contact {
            background: #ecf0f1;
            text-align: center;
            padding: 2rem;
        }
         .project-card:hover {
    transform: scale(1.05);
    background-color: black;
    color:gold;
}

        footer {
            background: #2c3e50;
            color: white;
            text-align: center;
            padding: 1rem;
        }
