.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}
.btn-p{
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
#btn {
  border-radius: 12px;
  box-shadow:1px 0 #232931;
  padding: 20px;
  color: #4ECCA3;
  text-align: center;
  font-size: medium;
  font-weight: bold;
  text-shadow: 0.5px 0 #232931;
  transition: all 0.2s ease;
}
#btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}
#btn:active {
  transform: translateY(2px);
  box-shadow: 0 3px #111;
}
